.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
  .chats {
    width: 1000px;
    height: 600px;
    border: 1px solid #e2e8f0;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    display: flex;
    flex-direction: column;
    background: white;
  }
}